body{
    height: 100vh;
    background-color: antiquewhite;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
img{ 
    height: auto;
    width: auto;
    border-radius: 50%;

}